
.icon__btn {
    border: 1px solid #f9bd87;
    cursor: pointer;
    width: 55px;
    height: 55px;
    background-color: $main-link-color;
    transition: 1s all ease;

    &:hover {
        background-color: $secondary-link-color;
    }

    &:hover .main-nav__item--social {
        fill: $link-color;
        transition-duration: 0.8s;
    }
}


.icon {
    width: 220px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    background: transparent;
    position: absolute;
    z-index: 1;
    margin: 208px 79px;
    opacity: 0;
    transition: 1s all ease;
}