.info-team {
    max-width: 960px;
    margin: 0 auto 83px;
    font-size: $secondary-font-size;
    font-family: $secondary-font-stack;
    color: $fourth-color;
    line-height: 1.6;
    text-align: center;
}