.subtitle__text--services,
.subtitle__text--team {
    font-family: $main-font-stack;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    justify-content: center;
    text-transform: uppercase;
    margin: 0;
}

.subtitle {
    text-align: center;
    &--header {
        font-size: 150px;
        color: white;
    }
}
